extends layout
block content
    header#header-wrap
        // Navbar Start
        nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.indigo
            .container
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggler(aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation', data-target='#main-navbar', data-toggle='collapse', type='button')
                  span.navbar-toggler-icon
                  span.icon-menu
                  span.icon-menu
                  span.icon-menu
                a.navbar-brand(href='index.html')
                  a(href='/' style="font-size: 1.2em; font-weight: bold; color: white;" id="companyLogo") FundRaise
              #main-navbar.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.w-100.justify-content-left.clearfix
                  li.nav-item.active
                    a.nav-link(href='#hero-area') Home
                  li.nav-item
                    a.nav-link(href='#features') Features
                  li.nav-item
                    a.nav-link(href='#walletApp') Wallet
                  li.nav-item
                    a.nav-link(href='/icos') ICOs
                  li.nav-item
                    a.nav-link(href='#contact') Contact
                .btn-sing.float-right
                  a.btn.btn-border(href='/login') login / signup
        // Mobile Menu Start
        ul.mobile-menu.navbar-nav
          li
            a.page-scroll(href='#hero-area') Home
          li
            a.page-scroll(href='#contact') Contact
        // Mobile Menu End
        // Navbar End
    // Hero Area Start
    #hero-area.hero-area-bg
      div.verticalAlign(style='width: 45%; margin-left: 8%; margin-top: -5%;')
          h5(style='font-size: 3em; font-weight: bold;') FundRaise
          p An ICO information portal and advisory platform to create a professionally tailored solution to execute ICO's safely and securely, providing an end-to-end service for token creation, presale and public sale.
      img(src="/img/banner-curve.png" style="position: absolute; bottom: 0px; width: 100%;")

    //About section
    section.platformAbout#features
        .row(style='margin:100px 0px;')
            .col-sm
                div.verticalAlign
                    h5 NO MIDDLEMAN-
                    h3 Truly Decentralized Fund Raising Platform
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fuga incidunt iste laudantium rem voluptatem. Ad animi deserunt dolorem est, excepturi illo, ipsa iste porro quasi, sit tempora vitae voluptate. consectetur adipisicing elit. Cupiditate fuga incidunt iste laudantium rem voluptatem. Ad animi deserunt dolorem est.
            .col-sm
                img(src='/img/art3.png')
        .row(style='margin:100px 0px;')
            .col-sm
                img(src='/img/art4.png')
            .col-sm
                div.verticalAlign
                    h5 INFINITE CHAINS NUMBER-
                    h3 Scalable Infrastructure for the Token Economy
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fuga incidunt iste laudantium rem voluptatem. Ad animi deserunt dolorem est, excepturi illo, ipsa iste porro quasi, sit tempora vitae voluptate. consectetur adipisicing elit. Cupiditate fuga incidunt iste laudantium rem voluptatem. Ad animi deserunt dolorem est.


    // Wallet App section
    section.walletApp#walletApp
        div(style='width: 80%; margin: 0px auto; padding: 80px 0px; padding-bottom: 0px;')
            h4(style='text-align: center; color: white; padding-bottom: 30px;') Wallet App
            p(style='text-align: center; width: 50%; margin-left: auto; margin-right: auto; padding-bottom: 30px;') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fuga incidunt iste laudantium rem voluptatem. Ad animi deserunt dolorem est, excepturi illo
            .row
              .col-sm-6
                div.verticalAlign
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fuga incidunt iste laudantium rem voluptatem. Ad animi deserunt dolorem est, excepturi illo
                    ul(style='padding-left: 20px;')
                        li Easy access to the Kryptix wallet
                        li No extra fees
                        li Effective news circulation
                        li Easy deposit and withdrawl money
                        li Secure trading and transaction
              .col-sm-6
                img(src='/img/app.png' style='width: 100%;')


    // Contact Section Start
    section#contact.section-padding
      .container
        .row
          .col-12
            .section-header.text-center
              h2.section-title.wow.fadeInDown(data-wow-delay='0.3s') Contact
        .row.contact-form-area.wow.fadeInUp(data-wow-delay='0.4s')
          .col-md-6.col-lg-6.col-sm-12
            .contact-block
              h2 Contact Form
              form#contactForm(name='contactForm')
                .row
                  .col-md-6
                    .form-group
                      input#name.form-control(data-error='Please enter your name', name='name', placeholder='Name', required='', type='text')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      input#email.form-control(data-error='Please enter your email', name='email', placeholder='Email', required='', type='text')
                      .help-block.with-errors
                  .col-md-12
                    .form-group
                      input#msg_subject.form-control(data-error='Please enter your subject', placeholder='Subject', required='', type='text')
                      .help-block.with-errors
                  .col-md-12
                    .form-group
                      textarea#message.form-control(data-error='Write your message', placeholder='Your Message', required='', rows='5')
                      .help-block.with-errors
                    .submit-button
                      button#form-submit.btn.btn-common(type='submit') Send Message
                      #msgSubmit.h3.text-center.hidden
                      .clearfix
          .col-md-6.col-lg-6.col-sm-12
            .contact-right-area.wow.fadeIn
              h2 Get In Touch
              .contact-right
                .single-contact
                  .contact-icon
                    i.lni-map-marker
                  p Pinetree Plaza, Ngong Rd, Nairobi
                .single-contact
                  .contact-icon
                    i.lni-envelope
                  p
                    a(href='#') email@gmail.com
                  p
                    a(href='#') example@gmail.com
                .single-contact
                  .contact-icon
                    i.lni-phone-handset
                  p
                    a(href='#') +254 374 5967
                  p
                    a(href='#') +254 123 5967
    // Contact Section End
    // Footer Section Start
    footer#footer.footer-area.section-padding
      .container
        .container
          .row
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              .footer-logo.mb-3
                p(style="font-size: 1.2em; font-weight: bold;") FundRaise
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam excepturi quasi, ipsam voluptatem.
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              h3.footer-titel Company
              ul
                li
                  a(href='#') Press Releases
                li
                  a(href='#') Mission
                li
                  a(href='#') Strategy
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              h3.footer-titel About
              ul
                li
                  a(href='#') Career
                li
                  a(href='#') Team
                li
                  a(href='#') Clients
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              h3.footer-titel Find us on
              .social-icon
                a.facebook(href='#')
                  i.lni-facebook-filled
                a.twitter(href='#')
                  i.lni-twitter-filled
                a.instagram(href='#')
                  i.lni-instagram-filled
                a.linkedin(href='#')
                  i.lni-linkedin-filled
    // Footer Section End
    section#copyright
      .container
        .row
          .col-md-12
            p Copyright © 2018 FundRaise All Right Reserved
    // Go to Top Link
    a.back-to-top(href='#')
      i.lni-arrow-up
    // Preloader
    #preloader
      #loader-1.loader
    // End Preloader
