doctype html
html(lang='en')
  head
      title FundRaise
      // Bootstrap CSS
      link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
      // Main Style
      link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
      // Icon
      link(href='/fonts/line-icons.css', rel='stylesheet', type='text/css')
  body
    section.customeNav
        ul
          li
            a(href='#home' style="font-size: 2em; font-weight: bold; color: rgb(0, 57, 112);") FundRaise
          li
            a(href='#news') ICOs
    section.profileHero.row
    section.profileContainer.row
        div(class="col-sm-12 col-md-4")
            .row(style='margin-top: -65px;')
                div(class="col-sm-4")
                    div(style='background: red; border-radius: 50%; width: 90px; height: 90px; border: solid white 2px;')
                div(class="col-sm-8")
                    p.verticalAlign(style="color: white; font-weight: bold; font-size: 1.2em;") Gaseema Ndung'u
        div.profileNav(class="col-sm-12 col-md-8")
            ul
                li Profile
                li(style='border-bottom: solid #0d0d81;') Your ICO
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.




    // Footer Section Start
    footer#footer.footer-area.section-padding
      .container
        .container
          .row
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              .footer-logo.mb-3
                p(style="font-size: 1.2em; font-weight: bold;") FundRaise
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam excepturi quasi, ipsam voluptatem.
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              h3.footer-titel Company
              ul
                li
                  a(href='#') Press Releases
                li
                  a(href='#') Mission
                li
                  a(href='#') Strategy
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              h3.footer-titel About
              ul
                li
                  a(href='#') Career
                li
                  a(href='#') Team
                li
                  a(href='#') Clients
            .col-lg-3.col-md-6.col-sm-12.col-xs-12
              h3.footer-titel Find us on
              .social-icon
                a.facebook(href='#')
                  i.lni-facebook-filled
                a.twitter(href='#')
                  i.lni-twitter-filled
                a.instagram(href='#')
                  i.lni-instagram-filled
                a.linkedin(href='#')
                  i.lni-linkedin-filled
    // Footer Section End
    section#copyright
      .container
        .row
          .col-md-12
            p Copyright © 2018 FundRaise All Right Reserved
    // Go to Top Link
    a.back-to-top(href='#')
      i.lni-arrow-up
    script(src='/javascript/jquery-min.js')
    script(src='/javascript/bootstrap.min.js')
    script(src='/javascript/main.js')
